.music-downloader-container {
  max-width: 400px;
  margin: 40px auto;
  border: 0px solid #393d3d;
  border-radius: 55px; /* Smaller border-radius for a softer look */
  background: linear-gradient(to left, rgb(5, 39, 41) 0%, rgb(16, 82, 82) 20%, rgb(160, 190, 196) 80%);
}

h1 {
  color: black; /* Set text color to black */
  font-family: 'Open Sans', sans-serif; /* Consistent font family */
}

.downloader-form label, .downloader-form span {
  display: block;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #060606;
}

.downloader-form input[type="text"], .downloader-form button {
  width: 100%; /* Full width */
  padding: 10px;
  border-radius: 35px; /* Smoother border-radius */
  border: 1px solid #ccc;
  box-sizing: border-box; /* Include padding in width calculation */
  cursor: pointer;
  font-size: 16px; /* Readable font size */
}

.downloader-form button {
  background-color: #081d48;
  color: white;
  border: none;
  transition: background-color 0.7s;
}

.downloader-form button:hover {
  background-color: #afbed0;
}

.downloader-form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.loading, .message {
  font-style: italic;
  font-weight: bold;
}

.message.success {
  color: #075a07;
}

.download-button::after {
  content: "";
  visibility: hidden; /* Hide by default */
  /* Spinner styles */
}

.download-button[disabled]::after {
  visibility: visible; /* Show spinner when the button is disabled */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .music-downloader-container {
    max-width: 100%; /* Take full width on smaller screens */
    padding: 20px; /* Increase padding */
    border-radius: 30px; /* Smoother corners */
  }

  h1, .downloader-form span {
    font-size: medium; /* Adjust font size */
  }

  .downloader-form input[type="text"], .downloader-form button {
    border-radius: 20px; /* Softer border-radius for better touch */
  }

  .downloader-form label, .downloader-form span, .downloader-form input[type="text"], .downloader-form button {
    margin-bottom: 15px; /* Increase spacing for better touch interaction */
  }
}
