.music-downloader-container {
  max-width: 400px;
  margin: 40px auto;
   
  border: 0px solid #393d3d;
  border-radius: 55px; /* Smaller border-radius for a softer look */
  background: linear-gradient(to left, rgb(5, 39, 41) 0%, rgb(16, 82, 82) 20%, rgb(160, 190, 196) 80%);
   
   
}

h1 {
  color: black; /* Set text color to black */
  font-family: 'Open Sans', sans-serif; /* Consistent font family */
}

.downloader-form label {
  display: block;
  margin-bottom: 10px;
}

.downloader-form span {
  display: block;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 5px;
  font-weight: bold;
  color: #060606;
}

.downloader-form input[type="text"] {
  width: 100%; /* Full width */
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  border-radius: 35px; /* Adjusted radius */
  border: 1px solid #ccc;
  box-sizing: border-box; /* Include padding in width calculation */
}

.downloader-form button {
  display: block;
  width: 100%; /* Full width for mobile */
  margin: 10px auto; /* Ensure margin is around the button */
  padding: 8px;
  border-radius: 25px; /* Adjusted radius */
  background-color: #081d48;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px; /* Slightly larger font for better readability */
  transition: background-color 0.7s;
  
}

.downloader-form button:hover {
  background-color: #afbed0;
}

.downloader-form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.loading {
  color: #050b10;
  font-style: italic;
}

.message {
  color: #d00;
  font-weight: bold;
}

.message.success {
  color: #075a07;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.download-button::after {
  content: "";
  display: inline-block;
  margin-left: 5px;
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  border-radius: 50%;
  border-top-color: #3498db;
  animation: spin 1s linear infinite;
  visibility: hidden;
}

.download-button[disabled]::after {
  visibility: visible; /* Only show spinner when the button is disabled */
}

/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
  .music-downloader-container {
    padding: 10px; /* Smaller padding on smaller screens */
    border-radius: 15px; /* Softer border-radius */
  }

  .downloader-form input[type="text"], .downloader-form button {
    border-radius: 20px; /* Softer border-radius */
  }

  h1, .downloader-form span {
    font-size: 14px; /* Smaller font size */
  }
}
