.music-downloader-container {
  max-width: 600px;
  padding: 30px; /* Adjusted padding */
  border: 3px solid #000000;
  border-radius: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.app-container {
  display: flex;
  flex-direction: column; /* Stack elements vertically on smaller screens */
  justify-content: center;
  align-items: start;
  gap: 20px;
  padding: 20px; /* Padding around the entire app container */
}

h1, a {
  color: black;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: #21ff72; /* Bright color to highlight the link */
}

.music-downloader-container, .playlist-downloader-container {
  flex: 1; /* Ensure equal width */
  padding: 20px;
}

.downloader-form {
  display: flex;
  flex-direction: column;
}

.input-label {
  margin-bottom: 15px;
}

.text-input {
  padding: 8px 12px;
  border: 2px solid #ddd;
  border-radius: 4px;
  transition: border-color 0.3s;
}

.text-input:focus {
  border-color: #0056b3;
  outline: none;
}

.download-button {
  padding: 10px 15px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.download-button:hover {
  background-color: #004494;
}

.download-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.loading, .message {
  color: #000000; /* Consistent color for loading messages */
  font-style: italic;
  font-weight: bold;
}

.message.success {
  color: rgb(0, 255, 0);
}

.message.error {
  color: red;
}

@keybuilder animation for loading spinner */
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.download-button::after {
  content: "";
  visibility: hidden; /* Hide spinner by default */
  /* Spinner styles */
}

.download-button[disabled]::after {
  visibility: visible; /* Show spinner when the button is disabled */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .music-downloader-container, .playlist-downloader-container {
    max-width: 100%; /* Full width */
    padding: 15px; /* Adjust padding */
    border-radius: 10px; /* Smoother corners */
  }

  .app-container {
    flex-direction: column; /* Ensure vertical layout */
  }

  .text-input, .download-button {
    border-radius: 10px; /* Smoother edges */
  }

  h1, .input-label, .message {
    font-size: smaller; /* Smaller font size */
  }
}
