.music-downloader-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 50px;
  border: 4px solid #25c9d2;
  border-radius: 50px;
  background: linear-gradient(to left, #1d3037 0%, #1b54ce 20%, #1ebeb3 80%);
  box-shadow: 0 2px 5px rgba(13, 10, 10, 0.1);
  overflow: hidden;
}

h1 {
  color: black; /* Set text color to black for h2 elements */
  font-family: 'Open Sans', sans-serif; /* Example font-family */
}
.downloader-form label {
  display: block;
  border-radius: 70px;
  margin-bottom: 10px;
   
}

.downloader-form span {
  display: block;
  border-radius: 70px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
  border-radius: 70px;
}

.downloader-form input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 70px;
  border: 1px solid #ccc;
   
  box-sizing: border-box;
   
}

.downloader-form button {
  display: block;
  width: 80%; /* Adjust the width as needed */
  margin: 0 auto; /* Center the button horizontally */
  padding: 8px; /* Adjust the padding */
  border-radius: 50px; /* Adjust the border radius */
  background-color: #2234f3;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px; /* Adjust the font size */
  transition: background-color 0.3s;
}


.downloader-form button:hover {
  background-color: #afbed0;
   
}

.downloader-form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.loading {
  color: #050b10;
  font-style: italic;
}

.message {
  color: #d00;
  font-weight: bold;
}

.message.success {
  color: #075a07;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.download-button::after {
  content: "";
  border-radius: 70px;
  display: inline-block;
  margin-left: 5px;
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  border-radius: 50%;
  border-top-color: #3498db;
  animation: spin 1s linear infinite;
  visibility: hidden;
}

.download-button[disabled]::after {
  border-radius: 70px;
  visibility: visible; /* Only show spinner when the button is disabled */
}
