#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: rgb(232, 237, 238); /* Set text color to white */
}

@keyframes logo-spin {
  
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Add this at the top of your CSS file */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* src/index.css */
body {
  /* background-image: url('/Music.png'); */
  background-color: black;
  background-size: cover;   /* Cover the entire page */
  background-position: center; /* Center the background image */
  background-repeat: repeat; /* Do not repeat the image */
  height: 100vh; /* Full height */
  margin: 0; /* Remove default margin */
  color: white; /* Set text color to white */
}
.cube:hover {
  transform:  rotateX(7deg);
}

/* Example for adjusting settings in landscape mode */
@media (max-width: 768px) and (orientation: landscape) {
  body {
    background-size: contain;
    min-height: 100vh;
  }
}

a {
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: #0afbeb;  /* Bright color to highlight the link */
}

p{
  color: rgb(255, 255, 255);
  font-family: 'Open Sans', sans-serif; /* Example font-family */
  font-size: small;
}
@media (max-width: 768px) {
  body {
    background-position: top center; /* Adjust as needed */
  }
}.scene {
  perspective: 1000px;  /* Depth effect for the 3D transform */
  width: 100%;  /* Full width to handle responsiveness */
  height: 300px; /* Fixed height to maintain cube appearance */
  margin: 0 auto; /* Centering the scene horizontally */
  position: relative;
}
.cube {
  width: 100%;
  height: 100%;
  position: relative; /* Changed from absolute to relative for better control */
  transform-style: preserve-3d;
  transition: transform 1s;
}

.cube.is-flipped {
  transform: rotateY(180deg); /* Default flip for desktop */
}

/* Adjust the cube's flip axis on mobile devices */
@media (max-width: 768px) {
  .cube.is-flipped {
    transform: rotateX(180deg); /* Flip top to bottom on mobile */
  }
}

.cube__face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.cube__face--front {
  transform: translateZ(150px); /* Positioned forward */
}

.cube__face--back {
  transform: rotateY(180deg) translateZ(150px); /* Positioned forward when flipped */
}

@media (max-width: 768px) {
  .cube__face--back {
    transform: rotateX(180deg) translateZ(150px); /* Rotate on X-axis for mobile */
  }
}


 /* Container styling for centering */
.logo-container {
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically if needed */
  width: 20%; /* Full width of the container */
}

.melody-logo {
  width: 100px; /* Fixed width */
  animation: logo-spin infinite 10s linear;
}

/* Keyframes for the logo spin animation */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .melody-logo {
    width: 80px; /* Smaller width on mobile devices */
  }
}

/* Further responsive adjustments for very small screens */
@media (max-width: 480px) {
  .melody-logo {
    width: 60px; /* Even smaller width for very small devices */
  }
}
